<div>

 	<div class="panel panel-default" ng-show="!$root.hideList" ng-repeat="item in items | filter: filter | limitTo : itemsShown track by item.__unid">

		<div class="panel panel-default">

      <div class="panel-heading clearfix">
        <h3 class="panel-title pull-left">{{item[summaryField] | fltr : fieldFilters[summaryField]}}</h3>
      </div>

			<div class="list-group">

        <div class="list-group-item">
					<h4 class="list-group-item-heading" ng-bind-html="item[detailsField]"></h4>
				</div>

				<div class="list-group-item" ng-show="isLoading">
					<i class="fa fa-spinner fa-spin fa-fw" style="margin-right:0; opacity: 1;"></i>Loading...
				</div>

				<div class="list-group-item" ng-show="items.length == 0">
					No items found
				</div>

				<div class="list-group-item" ng-show="!isLoading && hasMore">
					<button ng-click="loadMore()" id="btnLoadMore" class="btn btn-default">
						Load more...
					</button>
				</div>

			</div>

		</div>

	</div>

</div>
